{% extends "layout.html" %}

{% block title %}
    Moodle
{% endblock %}

{% block main %}
    <h1>Welcome to MoodleVisualizer™</h1>
    <text><i>*exiting or reloading the page will result in the loss of all graphs and visualizatons*</i></text>
    <img src="/media/LeftAmplitude.png" alt=">
    <img src="/workspaces/144957609/project/media/RightAmplitude.png" >
    <img src="/workspaces/144957609/project/media/AmplitudeDifference.png" >
    <img src="/workspaces/144957609/project/media/spectogram.png" >
{% endblock %}
